{% extends "base.html" %}{% load jfutags %}{% load url from future %}{% load thumbnail %}

{% block css %}
    <link rel="stylesheet" href="/static/user-area.css" />
    <link rel="stylesheet" href="/static/jquery-ui.css" />
    <link rel="stylesheet" href="/static/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="/static/dataviewer.css" />
    <link rel="stylesheet" href="/static/jobs.css" />
    <link href="/static/splitter/css/jquery.splitter.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/sbubble/jquery.sBubble-0.1.1.css" />

{% endblock %}
{% block extra_css %}{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/static/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/row_sorting.js"></script>
    <script type="text/javascript" src="/static/dataviewer.js"></script>
    <script type="text/javascript" src="/static/main.js"></script>
    <script type="text/javascript" src="/static/servers.js"></script>
    <script type="text/javascript" src="/static/jobs.js"></script>
    <script type="text/javascript" src="/static/commands.js"></script>
    <script type="text/javascript" src="/static/opencsp.js"></script>
    <script src="/static/splitter/js/jquery.splitter-0.15.0.js"></script>
    <script src="/static/sbubble/jquery.sBubble-0.1.1.js"></script>
    <script type="text/javascript" src="/static/bootstrap.min.js"></script>
{% endblock %}
{% block extra_js %}{% endblock %}

{% block extra_scripts %}
    <script type="text/javascript">
    var splitInitiated = false;

    function ResizeWindow()
    {
        var window_height = $(window).height() - 97;
        var window_width = $(window).width() - 188;
        $("#content-panel").css('height', window_height + 'px');
        $("#content-panel").css('width', window_width + 'px');
        $("#top-pane").css('height', (window_height / 2) + 'px');
        $("#bottom-pane").css('height', (window_height / 2) + 'px');

        if (splitInitiated)
        {
            var position = ($("#content-panel").split().position() / $(document).height()) * 100.0;
            $("#content-panel").split().destroy();
            $("#content-panel").split(
            {
                orientation: 'horizontal',
                limit: 0,
                position: position + '%'
            });
        }
        else
        {
            $("#content-panel").split(
            {
                orientation: 'horizontal',
                limit: 0,
                position: '100%'
            });
            splitInitiated = true;
        }
    }


    $(document).ready(function()
    {
        //setTimeout(ResizeWindow, 100);
        ResizeWindow();
    });

    $(window).resize(function()
    {
        clearTimeout(this.id);
        this.id = setTimeout(ResizeWindow, 100);
    });
    </script>
{% endblock %} 

{% block left_menu %}
    <div id='files-list'></div>
    <div class='left-menu'>{% include "opencsp_menu.html" %}</div>
{% endblock %}

{% block page_content %}
    <div class="content" id='content'>
        <div id='content-breadcrumbs'>&nbsp;</div>
        <div id='content-panel'>
            <div id="top-pane"></div>
            <div id="bottom-pane">Not loaded yet</div>
        </div>
    </div>
    <script type="text/javascript">
    $(function()
    {
        $('body').append("<pre id='opencsp-window' class='dialog' style='display:none;' title='OpenCSP'></pre>");
        $('#opencsp-window').dialog(
        {
            autoOpen: false,
            show: 'slideDown',
            width: 1100,
            height: 600,
            position:
            {
                at: "top"
            },
            draggable: false
        });


        $('#dialog-window').dialog(
        {
            autoOpen: false,
            show: 'slideDown',
            width: 900,
            height: 600,
            position:
            {
                at: "top"
            },
            draggable: false
        });

        LoadCurrentView();
    });
    </script>
    <div id='loading-label'>
        <div><img src='/static/loading.gif' />
            <br/>Loading</div>
    </div>
    <div id='dialog-window' class='dialog' style='display:none;' title='OpenCSP'></div>
    
{% endblock %}
